.el-row>* {
	height: 100%;
}

/* Form 表单
------------------------------- */
.el-form {

	// 用于修改弹窗时表单内容间隔太大问题，如系统设置的新增菜单弹窗里的表单内容
	.el-form-item:last-of-type {
		margin-bottom: 0 !important;
	}

	// 修复行内表单最后一个 el-form-item 位置下移问题
	&.el-form--inline {
		.el-form-item--large.el-form-item:last-of-type {
			margin-bottom: 22px !important;
		}

		.el-form-item--default.el-form-item:last-of-type,
		.el-form-item--small.el-form-item:last-of-type {
			margin-bottom: 18px !important;
		}
	}

	.el-form-item .el-form-item__label .el-icon {
		margin-right: 0px;
	}
}

.el-form--inline .el-form-item {
	margin-right: 20px;
}

/* Alert 警告
------------------------------- */
.el-alert {
	border: 1px solid;
}

.el-alert__title {
	word-break: break-all;
}

/* Message 消息提示
------------------------------- */
.el-message {
	min-width: unset !important;
	padding: 15px !important;
	box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.02);
	border-radius: 8px;
}

/* Tabs 标签页
------------------------------- */
.el-tabs__nav-wrap::after {
	height: 1px !important;
}

.el-tabs--border-card {
	border-radius: 6px;
	overflow: hidden;
}

/* Dropdown 下拉菜单
------------------------------- */
.el-dropdown-menu {
	list-style: none !important;
	/*修复 Dropdown 下拉菜单样式问题 2022.03.04*/
}

.el-dropdown-menu .el-dropdown-menu__item {
	white-space: nowrap;

	&:not(.is-disabled):hover {
		background-color: var(--el-dropdown-menuItem-hover-fill);
		color: var(--el-dropdown-menuItem-hover-color);
	}
}

/* Steps 步骤条
------------------------------- */
.el-step__icon-inner {
	font-size: 30px !important;
	font-weight: 400 !important;
}

.el-step__title {
	font-size: 14px;
}

/* Dialog 对话框
------------------------------- */
.el-overlay {
	overflow: hidden;

	.el-overlay-dialog {
		display: flex;
		align-items: center;
		justify-content: center;
		position: unset !important;
		width: 100%;
		height: 100%;

		.el-dialog {
			padding: 0;
			border-radius: 10px 10px 4px 4px;
			margin: 0 auto !important;
			position: absolute;

			.el-dialog__body {
				padding: 20px !important;
			}
		}
	}
}

.el-dialog__body {
	max-height: calc(100vh - 85px) !important;
	overflow-y: auto;
	overflow-x: auto;
}

.el-dialog__title {
	font-size: 14px;
	color: #fff;
	// font-weight: 700;
}

.el-dialog__header {
	border-radius: 4px 4px 0 0;
	// margin: -16px -16px 0px -16px;
	padding: 8px 0px 8px 20px;
	background: var(--el-color-primary);
}

.el-dialog__footer {
	border-top: 1px solid var(--el-color-info-light-7);
	padding: 10px 20px;
}

.el-dialog__headerbtn {
	margin-top: -4px;
	padding-right: 8px;

	.el-dialog__close {
		color: #fff;
	}
}

.el-dialog__headerbtn:hover .el-dialog__close {
	color: var(--el-color-danger) !important;
}

/* Card 卡片
------------------------------- */
.el-card {
	border-radius: 8px;
}

.el-card__body {
	height: 100%;
}

.el-card__header {
	padding: 15px 20px;
}

/* Table 表格 element plus 2.2.0 版本
------------------------------- */
.el-table {
	border-radius: 8px;
	border: 1px solid #ebeef5;
	// 表头背景色
	--el-table-header-bg-color: #f5f7fa;

	.el-button.is-text {
		padding: 0;
	}

	// 表头字体颜色
	thead {
		// color: var(--el-text-color-regular);
		color: rgb(61, 61, 61);

		th {
			font-weight: bold;
		}
	}
}

// 去除border属性的最外层边框(border属性的实质是加右边框和下边框)
.el-table--border .el-table__inner-wrapper::after,
.el-table--border::after,
.el-table--border::before,
.el-table__inner-wrapper::before {
	// background-color: transparent !important;
	background-color: #fff !important;
}

.el-table__border-left-patch {
	width: 0;
}

.el-table__body-wrapper .el-table__body tr>td:last-child,
.el-table__header-wrapper .el-table__header tr>th:last-child {
	border-right: none;
}

/* Drawer 抽屉
------------------------------- */
.el-drawer {
	--el-drawer-padding-primary: unset !important;

	.el-drawer__header {
		padding: 0 15px !important;
		height: 50px;
		display: flex;
		align-items: center;
		margin-bottom: 0 !important;
		border-bottom: 1px solid var(--el-border-color);
		color: var(--el-text-color-primary);
	}

	.el-drawer__body {
		width: 100%;
		height: 100%;
		overflow: auto;
	}
}

/* popover 气泡框
------------------------------- */
.el-popover {
	padding-top: 8px !important;
	padding-bottom: 8px !important;
}

/* select 下拉菜单
------------------------------- */
.el-select-dropdown__header {
	padding: 2px;
}

.el-select-dropdown__item {
	padding-left: 8px;
	display: flex;
	align-items: center;
}

.el-select-dropdown__list {
	padding: 4px;
}

.el-select-dropdown__item.is-selected {
	padding-right: 45px;
}

/* text 标记文本
------------------------------- */
.el-text {
	padding: 2px 6px;
	border-radius: 10px;
}

/* carousel 走马灯
------------------------------- */

.el-carousel__indicators--outside {
	margin-top: 30px;
	button {
		background-color: rgba(255, 255, 255, 1)
	}
}